/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
* {
  margin: 0;
  font-family: "Roboto Slab", serif;
}

body {
  /* background-image: url("/assets/bg10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(242, 242, 255); */
  /* background-image: url("/assets/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
hr {
  border-color: darkgray;
}
