<hr>
<hr>
<hr>
<div class="container-fluid">

    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">

        <div class="row">

            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Admin works</h4>
                        <p class="card-text">Some example text. Some example text.</p>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>