<!-- BODY -->
<!-- Carousel -->
<hr>
<hr>
<hr>
<div class="container">
    <div class="row mb-5">
        <div class="col-sm-12">
            <!-- Carousel starts-->
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <!-- <li data-target="#demo" data-slide-to="2"></li> -->
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/carousel/c0.jpg" alt="Los Angeles" width="1100" height="500">
                        <!-- <div class="carousel-caption">
                            <h3>What we do</h3>
                        </div> -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="carousel-content">
                                    <h1 class="display-4">Ready to Book your next Appointment ?</h1>
                                    <p class="lead"><strong>BookMyAppointment</strong> is the <strong>ultimate booking
                                            APP</strong>
                                        for all
                                        your health and beauty needs. We have a wide list of <strong>premium salons and
                                            healthcare
                                            providers</strong>
                                        who allow you to book your own
                                        appointments <strong>instantly</strong> online.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <img src="/assets/carousel/c2_resize.jpg" alt="New York" width="1100" height="500">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="carousel-content">
                                    <h1 class="display-4">Join Today for FREE..!</h1>
                                    <p><strong>No more waiting for 9am to call and book your appointment.</strong>
                                        <strong> No more engaged phones.</strong>
                                        <strong> No more hushed conversations in open plan offices.</strong></p>
                                    <a class="btn btn-primary btn-lg" role="button" (click)="cSignUp()">Consumer
                                        Registration</a>
                                    <div class="alert alert-warning alert-dismissible" *ngIf="alreadyLoggedIn">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong>Your are already Logged in. Logout first then try.</strong>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- <div class="carousel-item">
                        <img src="/assets/carousel/c1.jpg" alt="Chicago" width="1100" height="500">
                        <div class="carousel-content">
            
                        </div>
                    </div> -->
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <!-- Carousel ENDS-->
        </div>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h3 class="card-title">Some of Our Featured Health & Beauty Providers</h3>
            <div class="row">
                <div class="col-sm-3">
                    <img src="assets/special-offer.jpg" height="200px" width="250px" />
                </div>
                <div class="col-sm-3">
                    <img src="assets/special-offer.jpg" height="200px" width="250px" />
                </div>
                <div class="col-sm-3">
                    <img src="assets/special-offer.jpg" height="200px" width="250px" />
                </div>
                <div class="col-sm-3">
                    <img src="assets/special-offer.jpg" height="200px" width="250px" />
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h3 class="card-title">About Us</h3>
            <div class="row">
                <div class="devCard col-sm-3" style="padding: 5px;">
                    <img class="photo" src="assets/user.jpg" height="200px" /><br /><br />
                    <h5>Rohit Kolapkar</h5>
                    <hr />
                    <span class="info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <hr />
                        <a href="https://www.facebook.com/" class="fa fa-facebook"><i
                                class="fab fa-facebook-f white-text mr-4"> </i></a>
                        <a href="https://in.linkedin.com/in/" class="fa fa-linkedin"><i
                                class="fab fa-linkedin-in white-text mr-4"></i></a>
                    </span>
                </div>
                <div class="devCard col-sm-3" style="padding: 5px;">
                    <img class="photo" src="assets/user.jpg" height="200px" /><br /><br />
                    <h5>Rohit Kolapkar</h5>
                    <hr />
                    <span class="info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <hr />
                        <a href="https://www.facebook.com/" class="fa fa-facebook"><i
                                class="fab fa-facebook-f white-text mr-4"> </i></a>
                        <a href="https://in.linkedin.com/in/" class="fa fa-linkedin"><i
                                class="fab fa-linkedin-in white-text mr-4"></i></a>
                    </span>
                </div>
                <div class="devCard col-sm-3" style="padding: 5px;">
                    <img class="photo" src="assets/user.jpg" height="200px" /><br /><br />
                    <h5>Rohit Kolapkar</h5>
                    <hr />
                    <span class="info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <hr />
                        <a href="https://www.facebook.com/" class="fa fa-facebook"><i
                                class="fab fa-facebook-f white-text mr-4"> </i></a>
                        <a href="https://in.linkedin.com/in/" class="fa fa-linkedin"><i
                                class="fab fa-linkedin-in white-text mr-4"></i></a>
                    </span>
                </div>
                <div class="devCard col-sm-3" style="padding: 5px;">
                    <img class="photo" src="assets/user.jpg" height="200px" /><br /><br />
                    <h5>Rohit Kolapkar</h5>
                    <hr />
                    <span class="info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <hr />
                        <a href="https://www.facebook.com/" class="fa fa-facebook"><i
                                class="fab fa-facebook-f white-text mr-4"> </i></a>
                        <a href="https://in.linkedin.com/in/" class="fa fa-linkedin"><i
                                class="fab fa-linkedin-in white-text mr-4"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BODY -->